{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contacts edit</h1>

    {% form_theme edit_form ":FormTemplate:bootstrap.html.twig" %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input style="margin-top: 10px; margin-bottom: 10px" type="submit" value="Edit" class="btn btn-warning"/>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <input style="margin-top: 10px; margin-bottom: 10px" type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}

    <a style="margin-top: 10px; margin-bottom: 10px" href="{{ path('contacts_index') }}"  class="btn btn-primary">Back to the list</a>


{% endblock %}
